body{
    background-color: LemonChiffon;
}

h3{
    margin-top: 40px;
    margin-left: 30%;
    font-family: arial;
    font-size: 21px;
}
ul{
   margin-left: 30%; 
   font-family: arial;
   font-size: 16px;
}
li{
    padding-top: 5px;
}
h2{
    margin-top: 40px;
    margin-left: 30%;
    font-family: arial;
    font-size: 24px;
}